.container {
    padding: 16px;
    text-align: center;
  }
  
  .avatar {
    margin: 0 auto;
  }
  
  .profile-info {
    margin: 0px 0;
    margin-top: 10px;
  }
  
  .profile-info h2, .profile-info u{
    margin: 0;
    font-size: 24px;
  }
  
  .profile-info p {
    font-size: 16px;
    color: #666;
  }
  
  ion-button {
    margin: 8px 0;
  }
  .profile-info .usuario{
    font-weight: bold;
    color: #d1971b;

  }
  .profile-info .nombre{
    font-size: 1em;
    color: #d1971b;
  }
  .profile-info .edad{
    font-size: 1em;
    color: #d1971b;
    padding: 0;
    margin: 0;
  }
  .profile-info .descripcion{
    font-style: italic;
    text-align: justify;
    color: #80641ada;
    // padding-left: 10px;
    padding-inline: 10%;
    // padding-top: 15%;
    padding-bottom:10%;
  }
  .btn{
    font-size: 1.1em;
    font-weight: 500;
    font-style: italic;
    width: 100%;
  }
  
  .btn-maches{
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
  }

  .container{
    position: absolute;
    top:60px;
    bottom: 60px;
    left: 15px;
    right: 15px;
  
    
    // height: 100px;
  }
  .container a{
    text-align: center;
  }
  .btn-filtrarBusqueda{
    margin-top:30px;
    margin-bottom: 30px;
  }
  .full-card{
    padding-block: 50px;
    // background-color: red;
  }
  .btn-maches{
    position: absolute;
    bottom: 25px;
    left: 15px;
    right: 15px;
  }
  .avatar{
    // display: block;
    // width: 75%;
    width: 200px;
    height: 200px;
  }
  .btn-duoc3 {
    border: solid black 2px;
    margin: 1px;
    background-color: #dfa019;
    color: black;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada al hacer hover */
    transition: box-shadow 0.3s ease; /* Transición suave al pasar el mouse */
}
