<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-menu-tabs></app-menu-tabs>
  <div class="container">
  
    <div class="profile-info">
      <ion-avatar class="avatar">
        <img alt="Fotografía de perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <u class="usuario">{{nombreUsuario}}</u>
      <p class="nombre">{{nombre+' '+apellido}}</p>
      <p class="edad">{{edad}}</p>
      <p class="descripcion">{{descripcion}}</p>
    </div>
    <ion-buttons class="btn-maches"> 
      <button (click)="EditarPerfil()" class="btn btn-duoc3">Editar Perfil</button>
      <button (click)="CompartirPerfil()" class="btn btn-duoc3">Compartir Perfil</button>
    </ion-buttons>
  </div> 
</ion-content>
<!-- Aquí es donde colocas el menu-tabs -->
  
