<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-menu-tabs></app-menu-tabs>
  <div class="container">

    <div class="profile-info">
      <ion-avatar class="avatar">
        <img alt="Fotografía de perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <u class="usuario">_bapg_</u>
      <p class="nombre">Benjamin Gonzalez</p>
      <p class="edad">24 Años</p>
      <p class="descripcion">Hola mi nombre es benjamin soy un estudiante de el instituto duoc uc que esta cursando la carrera de ingenieria en informatica. Voy ya en mi segundo año y estoy interesado por la ciberseguridad. </p>
    </div>
    <ion-buttons class="btn-maches"> 
      <button (click)="EditarPerfil()" class="btn btn-duoc1">Editar Perfil</button>
      <button (click)="CompartirPerfil()" class="btn btn-duoc1">Compartir Perfil</button>
    </ion-buttons>
  </div>
</ion-content>
<!-- Aquí es donde colocas el menu-tabs -->
  
