<ion-content>
  <div class="container">
    <p class="login">Recupera tu cuenta</p>
    <p class="sub-texto">Ingresa tu Usuario o Correo electrónico para buscar tu cuenta.</p>
    <div class="input-field">
      <input type="text" required spellcheck="false">
      <label>Usuario o Correo electrónico</label>
    </div>
    <div class="buttons-groups">
      <button [routerLink]="['/sign-in']" class="btn btn-duoc1">Cancelar</button>
      <button  class="btn btn-duoc3">Buscar</button>
    </div>
  </div>
  
</ion-content>


<!-- <ion-content>
  <div class="container">

    <button (click)="IniciarSesion()" class="btn btn-duoc3">Iniciar sesión</button>
    <div class="link-simple sin-cuenta">
      No tienes una cuenta?
      <a [routerLink]="['/sign-up']">Registrate</a>
    </div>
  </div>
</ion-content> -->

