<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title><ion-button [routerLink]="['/perfil']">Volver</ion-button></ion-title>

  </ion-toolbar>
</ion-header>

<!-- Abrir camara para tomar fotos -->
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.WebViewPath"></ion-img>
    </ion-col>
  </ion-row>

<!-- Imagenes agregadas a la galeria -->
<ion-content>
  <div class="container">
    <div class="profile-info">
      <ion-avatar class="imagen">
        <ion-col size="1" *ngFor="let photo of photoService.photos; index as position">
            <img class="imagen" alt="Fotografía de perfil" [src]="photo.WebViewPath" />
        </ion-col>

      </ion-avatar>
      <ion-fab-button class="camera-edit" (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <!-- <u class="usuario">bapg</u> -->
      <div class="input-field">
        <input type="text" required spellcheck="false" value="bapg">
        <label>usuario</label>
      </div>
      <!-- <p class="nombre">Benjamin Gonzalez</p> -->
      <div class="input-field">
        <input type="text" required spellcheck="false" value="bapg">
        <label>usuario</label>
      </div>
      <!-- <p class="edad">24 Años</p> -->
      <div class="input-field">
        <input type="text" required spellcheck="false" value="bapg">
        <label>usuario</label>
      </div>
      <!-- <p class="descripcion">Hola mi nombre es benjamin soy un estudiante de el instituto duoc uc que esta cursando la carrera de ingenieria en informatica. Voy ya en mi segundo año y estoy interesado por la ciberseguridad. </p> -->
      <div class="input-field">
        <input type="text" required spellcheck="false" value="bapg">
        <label>usuario</label>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    </ion-fab>

  </div>
</ion-content>