<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editar-perfil</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Abrir camara para tomar fotos -->
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.WebViewPath"></ion-img>
    </ion-col>
  </ion-row>

<!-- Imagenes agregadas a la galeria -->
<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Guardar fotos en el sistema de archivos -->