<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <app-menu-tabs ></app-menu-tabs>

  <div class="container" >



    <button class="btn-filtrarBusqueda btn btn-duoc1" [routerLink]="['/filtrar-gente']">
      <ion-icon name="filter"></ion-icon>
      <ion-label>Filtrar Búsqueda</ion-label>
    </button>
    
    @for(item of items; track item.id){


      
      <ion-card class="full-card" style="text-align: center;">
        <img alt="Foto de Matches" src="{{item.imagen}}" />
        <ion-card-header>
          <ion-card-title>{{item.nombre}}</ion-card-title>
          <ion-card-subtitle>{{item.carrera}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{item.descripcion}}
        </ion-card-content>
        <ion-buttons class="btn-maches">  
          <button class="btn btn-dislike">No me gusta</button>
          <button class="btn btn-like">Me gusta</button>
        </ion-buttons>
      </ion-card>

  }

  </div>


  

 
  
</ion-content>


<!-- Aquí es donde colocas el menu-tabs -->
<!-- <ion-content> -->
  
<!-- </ion-content> -->